.date-buttons {
  list-style: none;
  width: 90vw;
  font-size: 14px;
  position: fixed;
  top: 120px;
  margin: -20px 0 0 35px;
  background-color: white;
  z-index: 100;
}


.month{
  transition-duration: 0.5s;
  transition-property: border color; 
  padding: 15px 5px;
  color: black;
  }

  .month:hover {
    color: black;
  }

  li {
  cursor: pointer;
}

.date-cards {
  position: absolute;
  top: 180px;
}