.date-buttons {
  list-style: none;
  width: 90vw;
  font-size: 14px;
  position: fixed;
  top: 110px;
  margin: 0 0 0 35px;
}


.month{
  transition-duration: 0.5s;
  /* transition-property: background color; */
  padding: 1em;
  border-radius: 4px;
  background-color: lightblue
}

.month:hover {
  color: white;
  background-color: lightblue;
}

li {
  cursor: pointer;
}