.fade {
  font-family: Arial;
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error{
  margin-top: 100px;
}

.test {
  margin: 150px auto 0 auto;
  background-color: lightcyan;
  height: 70vh;
  width: 80vw;
}



.move {
  margin-top: 150px;
}

.library-wrapper {
  min-height: 100vh;
  padding: 10em 0 0 2em;
}

.library-book {
  width: 500px; 
}