.card-wrapper {
  margin-bottom: 30px;
}
.library-book img {
    width: 199px;
    display: inline-block;
    margin: 0;
}
.library-book-cover {
    width: 200px;

}
.library-button {
    width: 200px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    background: none;
    border: 1px solid lightgrey;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    color: rgb(126, 123, 123);
    background-color: rgb(251, 251, 251);
    transition-property: color background-color;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  
  .library-button:hover {
    color: white;
    background-color: rgb(154, 92, 239);
    
  }

  .google-viewer {
    width: 300px;
  }